#ferrisWheel, #rollerCoaster, #slingShot, #turtleDiv, #snakeDiv, #insectDiv {
  height:300px;
  display: none;
}

#slingShotImg {
  height: 300px;
}
.amusementDiv, #noRide, .zooDiv {
  display: none;

}
